.groupContainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px 20px;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px 20px;
  padding: 10px 20px;
  grid-template-areas:
    "original transformed"
    "urlInput urlInput";
}

img {
  width: 100%;
  height: auto;
}

.urlInput {
  grid-area: urlInput;
}

.original {
  grid-area: original;
}

.transformed {
  grid-area: transformed;
}

.addImage {
  height: 5em;
  margin: 10px auto;
  display: block;
  text-align: center;
}
